@model WEBBANMP_NLCS.Models.SANPHAM
@{
    ViewBag.Title = "SuaSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Sửa sản phẩm</h2>

@using (Html.BeginForm("SuaSanPham", "QuanLySanPham", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Hidden("SP_MA", Model.SP_MA)
        <div class="form-group">
            @Html.LabelFor(model => model.SP_TEN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SP_TEN, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.SP_TEN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NSX_MA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("NSX_MA", null, new { @class = "form-control col-md-5" })
                @Html.ValidationMessageFor(model => model.NSX_MA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.L_MA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("L_MA", null, new { @class = "form-control col-md-5" })
                @Html.ValidationMessageFor(model => model.L_MA, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.SP_GIA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SP_GIA, new { htmlAttributes = new { @class = "form-control col-md-5", @required = "required" } })
                @Html.ValidationMessageFor(model => model.SP_GIA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SP_SL, htmlAttributes: new { @class = "control-label col-md-2 " })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SP_SL, new { htmlAttributes = new { @class = "form-control col-md-5", @required = "required" } })
                @Html.ValidationMessageFor(model => model.SP_SL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SP_MOTA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.SP_MOTA, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SP_MOTA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SP_HINH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10"> <img src="@Url.Content("~/Content/HinhAnhSP/" + Model.SP_HINH)" width="100" height="100" /></div><br />
            <div class="col-md-10">
                <input name="HINH_SP" type="file" />
                @Html.ValidationMessageFor(model => model.SP_HINH, "", new { @class = "text-danger" })
                @Html.Hidden("SP_HINH", Model.SP_HINH)
            </div>


        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu thay đổi" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở về", "Index")
</div>

