

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>B1809531 - CT270</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/css/price-range.css" rel="stylesheet">
    <link href="~/Content/css/animate.css" rel="stylesheet">
    <link href="~/Content/css/main.css" rel="stylesheet">
    <link href="~/Content/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="~/Content/images/logo5.png">


    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.scrollUp.min.js"></script>
    <script src="~/Content/js/price-range.js"></script>
    <script src="~/Content/js/jquery.prettyPhoto.js"></script>
    <script src="~/Content/js/main.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <!--toastr-->
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="~/Scripts/toastr.js"></script>
</head>
<!--/head-->

<body>

    @Html.Action("ThongBaoPartial", "Home")

    <header id="header">
        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href="#"><i class="fa fa-phone"></i> +84 868 235 540</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i> tramb1809531@student.ctu.edu.vn</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!--/header_top-->

        @Html.Partial("~/Views/Layout/_HeaderTopPartial.cshtml")

       
    </header>
    <!--/header-->

    @RenderSection("Slider", required: false)

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">

                    @Html.Action("MenuPartial", "Home")
                </div>

                @RenderBody()
            </div>
        </div>
    </section>





</body>

</html>

